.flexContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.formWrapper {
    width: 60%;
    margin: auto;
}

.radioContainer {
    border: 1px solid #fff;
    text-align: left;
    padding: 10px;
    color: #fff;
    margin: 10px 0 10px 0;
}
.textNoMargin {
    margin: 0;
}
.textSmall {
    font-size: 12px;
}
.leftMargin {
    margin-left: 10px;
}