.container{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}
.authLink {
    border: 1px solid #fff;
    padding: 10px 15px;
    text-decoration: none;
    color: #fff;
}