.inputStyle {
    border: none;
    padding: 10px 20px;
    margin: 10px;
    width: 100%;
}
.relativeWrapper {
    position: relative;
}
.error { 
    text-transform: capitalize;
    color: rgb(140, 18, 18);
    font-weight: 700;
    font-size: 10px;
    position: absolute;
    
}
.errorInput {
    border: 5px solid red;
}