.inputStyle {
    border: none;
    padding: 10px 20px;
    margin: 10px;
    width: 89%;
}
.error { 
    text-transform: capitalize;
    color: rgb(140, 18, 18);
    font-weight: 700;
    font-size: 10px;

}
.errorInput {
    background-color: red;

}